:root {
    --pink: #f3ebde;
    --peach: #ffc6a8;
    --cream: #fff5ec;
    --brown: #5a3e36;
}

#pu_header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

#pu_img {
    width: 100px;
    height: 100px;
    background-image: url(${bimg});
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
    
}

#pu_imgdsc {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

#pu_ttl_amt {
    width: 100px;
    height: 17px;
    padding: 8px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-size: 16px;
}

#pu_delivery_area {
    width: 100%;
    height: 35px;
    padding: 3px 0 0 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 16px;
}

#pu_address {
    width: 343px;
    height: 18px;
    /* padding: 10px; */
    margin-bottom: 0px;
    border-radius: 0px;
    font-size: 16px;
    padding-left: 10px;
}

#pu_number {
    width: 343px;
    height: 18px;
    /* padding: 10px; */
    margin-bottom: 0px;
    border-radius: 0px;
    font-size: 16px;
    padding-left: 10px;
}

#pu_email {
    width: 343px;
    height: 18px;
    /* padding: 10px; */
    margin-bottom: 0px;
    border-radius: 0px;
    font-size: 16px;
    padding-left: 10px;
}

#pu_est_comp {
    background: linear-gradient(180deg, #f3ebde, #ffc6a8);
    border-radius: 10px;
    padding: 0 0 10px 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

#pu_est_header {
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    margin: 20px;
}

#refresh_btn {
    margin: 10px 0 0 0px;
    padding: 8px;
    width: 100%;
    height: 30px;
    background: #5c4e4a9a;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#refresh_btn:active {
    transform: translateY(4px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

#checkout_btn {
    margin: 10px 0 0 0px;
    padding: 8px;
    width: 100%;
    height: 30px;
    background: #ffc6a8;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #black;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#checkout_btn:active {
    transform: translateY(4px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

#add_ons {
    margin: 20px 0 0 0;
    padding: 0px;
    background-color: var(--cream);
    border-radius: 8px;
    width: 100%;
}

#pu_discount {
    margin: 10px 0;
    padding: 0px;
    background-color: var(--cream);
    border-radius: 8px;
    width: 100%;
}

.columns {
    display: flex;
    gap: 0px;
}

.left-column,
.right-column {
    flex: 1;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.left-column2 {
    /* flex: 1; */
    width: 130px;
    height: 100%;
    /* padding-bottom: 10px; */
}

.right-column2 {
    /* flex: 1; */
    width: 100%;
    height: 100%;
    padding: 10px 20px 10px 10px;
}

.left-column3 {
    /* flex: 1; */
    width: 130px;
    height: 100%;
    /* padding-bottom: 10px; */
}

.right-column3 {
    /* flex: 1; */
    width: 100%;
    height: 100%;
    /* padding: 10px 20px 10px 10px; */
}

#disc_code {
    width: 100%;
    font-size: 16px;
    padding: 2px 0 5;
    border: none;
    border-radius: 10px;
}

#add_ons h5 {
    margin: 0 0 10px 0;
    font-style: italic;
    text-align: center;
    width: 100%;
}

#add_ons label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: -15px;
    cursor: pointer;
    font-size: small;
}

.label {
    width: 100%;
}

.input {
    width: 20px;
}

#labeldesc {
    font-size: x-small;
    font-style: italic;
    color: #615f5f;
    margin: -7px 0 0 7px;
}

#pu_user_input {
    margin: 10px 0;
    padding: 0px;
    background-color: var(--cream);
    border-radius: 8px;
    width: 100%;
}